<!-- Footer -->
<footer>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <style>
  .footer {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    color:black;
    opacity: 50%;
    font: small;
    background-color:black ;
    text-align: center;
    align-items: center;
  }
  i {
    margin: 20px;
    font-size: 48px;
    color: white;
  }
  </style>
  </head>  
  <!-- Footer Elements -->
    <div class="footer">
      <div class="row">
        <div class="column">
          <i class='fab fa-facebook-square'></i>
          <i class='fab fa-instagram'></i>
          <i class='fab fa-google'></i>
          <i class='fab fa-twitter'></i>
        </div>
  
      </div>
  
      
  
    </div>
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> BirdsEye.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->