<%- include ('Partials/header'); -%>

<link rel="stylesheet" type="text/css" href="/app.css">

<body>
    <div class="row">
      <div class="column">
        <div class="card">
          <h3>Covid-19</h3>
          <p>Written By ********</p>
          <p>##################</p>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <h3>India:A place of love</h3>
          <p>Written By ********</p>
          <p>##################</p>
        </div>
      </div>
    </div>
    <h1></h1>
  
    <div class="row">
      <div class="column">
        <div class="card">
          <h3>Covid-19</h3>
          <p>Written By ********</p>
          <p>##################</p>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <h3>India:A place of love</h3>
          <p>Written By ********</p>
          <p>##################</p>
        </div>
      </div>
    </div>
  
  </body>

<%- include ('Partials/footer'); -%>